<header class="h-16 bg-slate-700 text-white fixed w-full">
  <nav class="flex items-center justify-between text-lg">
    <div class="[&>*]:p-5">
      <a routerLink="" class="hover:text-gray-300">Home</a>
      <a routerLink="Overzicht" class="hover:text-gray-300">Overzicht</a>
      <a routerLink="Dashboard" *ngIf="ingelogd === true" class="hover:text-gray-300">Dashboard</a>
    </div>
    <div class="p-5 login">
      <div *ngIf="ingelogd === false">
        <a routerLink="Login" class="cursor-pointer">
          <mat-icon aria-hidden="false" fontIcon="login"></mat-icon>
        </a>
      </div>
      <div *ngIf="ingelogd === true">
        <a (click)="loguit()" class="cursor-pointer">
          <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
        </a>
      </div>
    </div>
  </nav>
</header>
