<div class="flex justify-center items-center h-full" *ngIf="data">
  <div class="bg-white rounded-md w-1/2 h-1/2 flex flex-col justify-center">
    <div class="w-1/4 p-2">
        <span>Id:</span>
        <span>{{data.id}}</span>
    </div>
    <div class="grid pl-2 grid-cols-1">
        <label for="naam" class="w-1/4">Naam:</label>
        <input type="text" [(ngModel)]="data.naam" class="border rounded-md w-1/2" name="naam">
    </div>
    <div class="flex pl-2 pt-5">
        <textarea [(ngModel)]="data.beschrijving" class="w-1/2 h-60 border resize-none placeholder:p-3" placeholder="Beschrijving..."></textarea>
    </div>
  </div>
</div>
