<div class="flex justify-center h-1/4 items-center">
  <div
    class="w-3/4 flex justify-center bg-white flex-col text-center rounded-md"
  >
    <h1 class="text-xl p-1">Dashboard</h1>
    <hr />
    <div class="grid grid-cols-4">
      <h2 class="font-medium pt-1">Id</h2>
      <h2 class="font-medium pt-1">Naam</h2>
      <h2 class="font-medium pt-1">Beschrijving</h2>
      <h2 class="font-medium pt-1">Acties</h2>
    </div>
    <hr />
    <div
      class="grid grid-cols-4 items-center hover:bg-slate-100" *ngFor="let item of data" >
      <p class="p-1">{{ item.id }}</p>
      <p class="p-1">{{ item.naam }}</p>
      <p
        class="text-ellipsis whitespace-nowrap overflow-hidden p-1"
        [title]="item.beschrijving"
      >
        {{ item.beschrijving }}
      </p>
      <div class="acties flex items-center justify-center">
        <!-- <mat-icon fontIcon="edit" class="hover:cursor-pointer" (click)="bewerken()"></mat-icon> -->
        <mat-icon fontIcon="open_in_new" [routerLink]="['/data/id/', item.id]" class="hover:cursor-pointer text-gray-300"></mat-icon>
        <mat-icon
          fontIcon="close"
          class="hover:cursor-pointer text-red-600"
          (click)="verwijderOpId(item.id)"
        ></mat-icon>
        
      </div>
    </div>
    <div class="flex justify-center">
      <mat-icon fontIcon="post_add" class="text-gray-300 hover:cursor-pointer" [routerLink]="['/data/id/', volgendeId]"></mat-icon>
    </div>
  </div>
</div>
